
.container {
  background-color: rgba(34,193,195, 0.4);
}
h1 {
  padding: 0;
  margin: 0; 
  text-align: center;
  padding-top: 20px;
}

.chat-container {
  display: grid;
  place-content: center;
  height: 100vh;
  padding: 16px 0 30px 0;
  grid-template-rows: 1fr;
}

.chat-header {
  background-color: rgb(0, 60, 100);
  width: 350px;
  border: 1px solid #09445f;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
} 

.chat-form {
  bottom: 0;
  display: flex;
  height: 45px;
  left: 0;
  position: absolute;
  right: 0;
  margin: 3px;
  gap: 3px;
}

.chat-form > button {
  background-color: #09f;
  color: #fff;
  border: 0;
  border-radius: 999px;
  padding: 0 16px;
  font-weight: bold;
  font-size: 16px;
}

.chat-messages {
  list-style: none;
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
  padding: 10px;
  overflow-y: auto;
  padding-bottom: 50px;
  scroll-behavior: smooth;
  text-wrap: balance;
  text-wrap: pretty;
  word-wrap: break-word;
  position: relative;
}

.message-container {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.messages-container-other {
  display: flex;
  flex-direction: column;
  align-items: end;
}


.chat-input {
  border-radius: 9999px;
  flex: 1;
  padding: 0 8px;
  border: none;
  font-size: 15px;
}
.chat-input::placeholder {
  color: rgb(134, 134, 134);
  font-size: 16px;
}

.chat-input:focus {
  outline: none;
}

.messages-list {
  background-color: rgb(0, 36, 59);
  padding: 8px 20px;
  width: fit-content;
  border-radius: 999px;
  margin-bottom: 5px;
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 10px;
  color: #fff;
}

.time {
  color: rgb(134, 134, 134);
  font-size: 12px;
  bottom: 5px;
}

.message-name {
  color: rgb(172, 172, 172);
  margin-left: 10px;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 0 10px;
}

.search-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}